@model List<PoliziaApp.Models.JoinModel>

@{
    ViewData["Title"] = "Verbali";

}
<div class="CustomTable">
    <h1 class="text-center">Verbali con più di 10 punti decurtati</h1>
    <hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data Violazione</th>
            <th scope="col">Importo</th>
            <th scope="col">Punti Decurtati</th>


        </tr>
    </thead>
    <tbody>
        @foreach (JoinModel verbale in Model)
        {
            <tr>
                <td>@verbale.Nome @verbale.Cognome</td>
                <td>@verbale.DataViolazione.ToShortDateString()</td>
                <td>@verbale.Importo</td>
                <td>@verbale.DecurtamentoPunti</td>
            </tr>

        }
    </tbody>
</table>

</div>