@model List<PoliziaApp.Models.Verbale>

@{
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Data Trascrizione</th>
            <th scope="col">Importo</th>
            <th scope="col">Decurtamento Punti</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nominativo</th>
            <th scope="col">Nominativo Agente</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Verbale verbale in Model)
        {
            <tr>
                <th scope="row">@verbale.Id</th>
                <td>@verbale.DataViolazione.ToShortDateString()</td>
                <td>@verbale.IndirizzoViolazione</td>
                <td>@verbale.DataTrascrizioneVerbale.ToShortDateString()</td>
                <td>@verbale.Importo</td>
                <td>@verbale.DecurtamentoPunti</td>
                <td>@verbale.TipoViolazione</td>
                <td>@verbale.Nome @verbale.Cognome</td>
                <td>@verbale.NominativoAgente</td>
            </tr>

        }
    </tbody>
</table>